<!DOCTYPE html>
<html lang="'en">
    <head>
        <meta charset= "UTF-8">
        <meta name="viewport" content="width = device - width, initial - scale = 1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='ProductPage.css')}}">
        <title> Sign In </title>
    </head>

    <body>
        <nav>
            <a href="/products">Product</a>
            <a href="/categories">Categories</a>
            <a href="/users">Ysers</a>
            <div>
                <img src="./img/wed.jpg" 
                alt=''
                width='60px' 
                height='60px'>
                <p>TestUser1</p>
            </div>

        </nav>

        <main>
            <a href="{{url_for('AddProductPage')}}">ADD</a>
            <table>
                <tr>
                    <th> ID </th>
                    <th> Username </th>
                    <th> Password </th>
                    <th colspan="3"> Action </th>
                </tr>
                
                {% for row in rows %}
                <tr>
                    <td> {{row['id']}} </td>
                    <td> {{row['username']}} </td>
                    <td> {{row['password']}} </td>
                    <td><a href="{{url_for('EditUser', id = row['id'], type='USERNAME')}}">Edit Username</a></td>
                    <td><a href="{{url_for('EditUser', id = row['id'], type='PASSWORD')}}">Edit Password</a></td>
                    <td><a href="{{url_for('deleteUser', id = row['id'])}}">Delete</a></td>
                </tr>
                
                {% endfor %}
            </table>
        </main>

    </body>
</html>